<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.rushro2m.gaodemap">
    <uses-sdk
        android:minSdkVersion="8"
        android:targetSdkVersion="17" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />
    <uses-permission android:name="android.permission.CHANGE_WIFI_STATE" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.CHANGE_CONFIGURATION" />
    <uses-permission android:name="android.permission.WAKE_LOCK" />
    <uses-permission android:name="android.permission.WRITE_SETTINGS" />

    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_LOCATION_EXTRA_COMMANDS" />
    <uses-permission android:name="android.permission.ACCESS_MOCK_LOCATION"
        tools:ignore="MockLocation" />
    <uses-permission android:name="android.permission.CHANGE_WIFI_STATE" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <meta-data
            android:name="com.amap.api.v2.apikey"
            android:value="7e14e7232526f93b755c81ba73b271ae" />

        <activity android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".mapcreate.ShowMapActivity"
            android:label="显示地图" />
        <activity
            android:name=".mapcreate.MoreMapActivity"
            android:label="多地图实例" />
        <activity
            android:name=".mapcreate.indoor.RoomMapActivity"
            android:label="室内地图功能" />
        <activity
            android:name=".mapcreate.MapOptionActivity"
            android:label="Option实现地图" />
        <activity
            android:name=".mapinteraction.UISettingActivity"
            android:label="UiSetting功能" />
        <activity
            android:name=".mapinteraction.LogoActivity"
            android:label="地图Logo位置" />
        <activity
            android:name=".mapinteraction.LayersActivity"
            android:label="Layers图层功能" />
        <activity
            android:name=".mapinteraction.GestureActivity"
            android:label="手势交互" />
        <activity android:name=".mapinteraction.EventsActivity" />
        <activity android:name=".mapinteraction.PoiClickActivity" />
        <activity android:name=".mapinteraction.CameraActivity" />
        <activity android:name=".mapinteraction.AnimateCameraActivity" />
        <activity android:name=".mapinteraction.ZoomActivity" />
        <activity
            android:name=".mapinteraction.ScreenShotActivity"
            android:label="@string/screenshot_demo"
            android:screenOrientation="portrait" />
        <activity
            android:name=".mapinteraction.MinMaxZoomActivity"
            android:label="设置缩放级别功能"
            android:screenOrientation="portrait" />
        <activity
            android:name=".mapinteraction.LimitBoundsActivity"
            android:label="限制显示区域功能"
            android:screenOrientation="portrait" />
        <activity android:name=".mapmarker.MarkerActivity" />
        <activity android:name=".mapmarker.MarkerClickActivity" />
        <activity android:name=".mapmarker.MarkerAnimationActivity" />
        <activity android:name=".mapmarker.InfoWindowActivity" />
        <activity android:name=".mapmarker.LocationModeSourceActivity_Old" />

        <service android:name="com.amap.api.location.APSService" />
    </application>

</manifest>